.container {
  width: 100vw;
  height: 100vh;
}

.test {
  width: 80px;
  height: 80px;
  background-color: blueviolet;
}

.modal_container {
  width: 60vw;
  height: 50vh;
  border-radius: 0.3rem;
  border: none;
  background-color: rgb(241, 241, 246);
  padding: 1rem;
}